/* .container { */
    /* height: 300px;
    background-color: white;

    display: flex; */
    /* Đi kèm với tất cả các thuộc tính khác của flexbox */
    
    /* Chỉnh hướng sắp xếp phần tử */
    /* flex-direction: row;    column */

    /* Căn chỉnh vị trí phần tử theo trục main */
    /* justify-content: flex-end; flex-end, center và space between */

    /* Căn chỉnh vị trí phần tử theo trục Cross */
    /* align-items:  */

    /* Cho phép các phần tử con xuống hàng */
    /* flex-wrap: wrap; */

    /* Căn chỉnh kích thước và vị trí của dòng (line) */
    /* align-content: stretch; */

    /* Căn chỉnh khaongr cách giữa các items */
    /* gap: 20px; */


/* 
.item {
    background-color: rgb(13, 122, 191) ;
    color: whitesmoke;
    
    width: 100px;
    height: 100px;
} */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


h1 {
    text-align: center;
    margin-bottom: 43px;
}

.partner {
    margin-top: 100px;
}

.container {
    width: 1290px;
    margin-left: auto;
    margin-right: auto;
}

.partnerlist {
    display: flex;
    gap: 85px;
}

.partnerlist img {
    
    width: 200px;
   
}

.footer {
    background-color: #30598c;
}

.info-list {
    display: flex;
    color: aliceblue;
    gap: 20px;
}

.info-item {
    width: 25%;
}